<style>
  link {
    color: #0099FF;
  }
  a, a:link, a:visited {
    color: #0099FF;
    text-decoration: none;
  }
  a:hover {
    color: #2ff1f7;
    background-color: #2ff1f7;
  }
  body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    vertical-align: bottom;
    color: #FFFFFF;
    background-color: #33475b;
  }
  hr{
    padding: 0px;
    margin: 0px;    
  }
</style>
